body{
	font-family: 'Pangolin', cursive;
	font-size:18px;
	font-weight:bold;
	font-style:italic;
	background-image:url('../images/Web.jpg');
	background-size: cover;
	color:#fff;
}

p{
	
	
	background-color:blue;

}